

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.box {
  flex-basis: 200px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}


header {
    background-color: #50788D;
    color: white;
    padding: 20px;
    text-align: center;
}

.project {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  font-family: Copperplate, Helvetica, sans-serif;
}


.description {
  margin-top: 10px;
  font-size: 15px;
  color: #555;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e6f3fa;
  color: #333;
}



